.link {
  text-decoration: none;
  color: white;
  padding: 1.3rem;
  border: 1px solid white;
  border-radius: 10px;
  display: block;
  margin: auto;
}

.link:hover {
  color: rgb(103, 123, 135);
  background-color: rgb(249, 252, 255);
  transition: all 0.4s ease-in-out;
}
