.link {
  text-decoration: none;
  color: white;
  padding: 1.3rem;
  border: 1px solid white;
  border-radius: 10px;
}

.link:hover {
  color: white;
  background-color: #c76b77;
  transition: all 0.4s ease-in-out;
}

.createBtn {
  background-color: transparent;
  cursor: pointer;
  margin: 1.5rem auto 0;
  width: 200px;
}

.createBtn:hover {
  background-color: #7ce7c5;
}
