.link {
  text-decoration: none;
  color: white;
  padding: 1.3rem;
  border: 1px solid white;
  border-radius: 10px;
  background-color: transparent;
}

.link:hover {
  color: white;
  background-color: #c76b77;
  transition: all 0.4s ease-in-out;
}

.saveBtn {
  background-color: transparent;
  cursor: pointer;
  margin: 2rem auto 1rem;
}

.saveBtn:hover {
  background-color: #7ce7c5;
}

.normalLink:hover {
  color: rgb(103, 123, 135);
  background-color: rgb(249, 252, 255);
  transition: all 0.4s ease-in-out;
}

.wrapperDiv {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

.form {
  min-width: 200px;
}

@media (min-width: 400px) {
  .form {
    min-width: 300px;
  }
}

@media (min-width: 450px) {
  .form {
    min-width: 400px;
  }
}

@media (min-width: 550px) {
  .form {
    min-width: 500px;
  }
}
